In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date
from pandas_profiling import ProfileReport

In [2]:
pd.set_option('display.max_columns', 500)

# 0. Loading our Data

In [3]:
df = pd.read_csv('../Data/donors.csv')

In [4]:
df.head()

,Unnamed: 0,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,RECP3,RECPGVG,RECSWEEP,MDMAUD,DOMAIN,HOMEOWNR,CHILD03,CHILD07,CHILD12,CHILD18,NUMCHLD,INCOME,GENDER,WEALTH1,HIT,MBCRAFT,MBGARDEN,MBBOOKS,MBCOLECT,MAGFAML,MAGFEM,MAGMALE,PUBGARDN,PUBCULIN,PUBHLTH,PUBDOITY,PUBNEWFN,PUBPHOTO,PUBOPP,DATASRCE,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,STATEGOV,FEDGOV,SOLP3,SOLIH,MAJOR,WEALTH2,GEOCODE,COLLECT1,VETERANS,BIBLE,CATLG,HOMEE,PETS,CDPLAY,STEREO,PCOWNERS,PHOTO,CRAFTS,FISHER,GARDENIN,BOATS,WALKER,KIDSTUFF,CARDS,PLATES,LIFESRC,PEPSTRFL,POP901,POP902,POP903,POP90C1,POP90C2,POP90C3,POP90C4,POP90C5,ETH1,ETH2,ETH3,ETH4,ETH5,ETH6,ETH7,ETH8,ETH9,ETH10,ETH11,ETH12,ETH13,ETH14,ETH15,ETH16,AGE901,AGE902,AGE903,AGE904,AGE905,AGE906,AGE907,CHIL1,CHIL2,CHIL3,AGEC1,AGEC2,AGEC3,AGEC4,AGEC5,AGEC6,AGEC7,CHILC1,CHILC2,CHILC3,CHILC4,CHILC5,HHAGE1,HHAGE2,HHAGE3,HHN1,HHN2,HHN3,HHN4,HHN5,HHN6,MARR1,MARR2,MARR3,MARR4,HHP1,HHP2,DW1,DW2,DW3,DW4,DW5,DW6,DW7,DW8,DW9,HV1,HV2,HV3,HV4,HU1,HU2,HU3,HU4,HU5,HHD1,HHD2,HHD3,HHD4,HHD5,HHD6,HHD7,HHD8,HHD9,HHD10,HHD11,HHD12,ETHC1,ETHC2,ETHC3,ETHC4,ETHC5,ETHC6,HVP1,HVP2,HVP3,HVP4,HVP5,HVP6,HUR1,HUR2,RHP1,RHP2,RHP3,RHP4,HUPA1,HUPA2,HUPA3,HUPA4,HUPA5,HUPA6,HUPA7,RP1,RP2,RP3,RP4,MSA,ADI,DMA,IC1,IC2,IC3,IC4,IC5,IC6,IC7,IC8,IC9,IC10,IC11,IC12,IC13,IC14,IC15,IC16,IC17,IC18,IC19,IC20,IC21,IC22,IC23,HHAS1,HHAS2,HHAS3,HHAS4,MC1,MC2,MC3,TPE1,TPE2,TPE3,TPE4,TPE5,TPE6,TPE7,TPE8,TPE9,PEC1,PEC2,TPE10,TPE11,TPE12,TPE13,LFC1,LFC2,LFC3,LFC4,LFC5,LFC6,LFC7,LFC8,LFC9,LFC10,OCC1,OCC2,OCC3,OCC4,OCC5,OCC6,OCC7,OCC8,OCC9,OCC10,OCC11,OCC12,OCC13,EIC1,EIC2,EIC3,EIC4,EIC5,EIC6,EIC7,EIC8,EIC9,EIC10,EIC11,EIC12,EIC13,EIC14,EIC15,EIC16,OEDC1,OEDC2,OEDC3,OEDC4,OEDC5,OEDC6,OEDC7,EC1,EC2,EC3,EC4,EC5,EC6,EC7,EC8,SEC1,SEC2,SEC3,SEC4,SEC5,AFC1,AFC2,AFC3,AFC4,AFC5,AFC6,VC1,VC2,VC3,VC4,ANC1,ANC2,ANC3,ANC4,ANC5,ANC6,ANC7,ANC8,ANC9,ANC10,ANC11,ANC12,ANC13,ANC14,ANC15,POBC1,POBC2,LSC1,LSC2,LSC3,LSC4,VOC1,VOC2,VOC3,HC1,HC2,HC3,HC4,HC5,HC6,HC7,HC8,HC9,HC10,HC11,HC12,HC13,HC14,HC15,HC16,HC17,HC18,HC19,HC20,HC21,MHUC1,MHUC2,AC1,AC2,ADATE_2,ADATE_3,ADATE_4,ADATE_5,ADATE_6,ADATE_7,ADATE_8,ADATE_9,ADATE_10,ADATE_11,ADATE_12,ADATE_13,ADATE_14,ADATE_15,ADATE_16,ADATE_17,ADATE_18,ADATE_19,ADATE_20,ADATE_21,ADATE_22,ADATE_23,ADATE_24,RFA_2,RFA_3,RFA_4,RFA_5,RFA_6,RFA_7,RFA_8,RFA_9,RFA_10,RFA_11,RFA_12,RFA_13,RFA_14,RFA_15,RFA_16,RFA_17,RFA_18,RFA_19,RFA_20,RFA_21,RFA_22,RFA_23,RFA_24,CARDPROM,MAXADATE,NUMPROM,CARDPM12,NUMPRM12,RDATE_3,RDATE_4,RDATE_5,RDATE_6,RDATE_7,RDATE_8,RDATE_9,RDATE_10,RDATE_11,RDATE_12,RDATE_13,RDATE_14,RDATE_15,RDATE_16,RDATE_17,RDATE_18,RDATE_19,RDATE_20,RDATE_21,RDATE_22,RDATE_23,RDATE_24,RAMNT_3,RAMNT_4,RAMNT_5,RAMNT_6,RAMNT_7,RAMNT_8,RAMNT_9,RAMNT_10,RAMNT_11,RAMNT_12,RAMNT_13,RAMNT_14,RAMNT_15,RAMNT_16,RAMNT_17,RAMNT_18,RAMNT_19,RAMNT_20,RAMNT_21,RAMNT_22,RAMNT_23,RAMNT_24,RAMNTALL,NGIFTALL,CARDGIFT,MINRAMNT,MINRDATE,MAXRAMNT,MAXRDATE,LASTGIFT,LASTDATE,FISTDATE,NEXTDATE,TIMELAG,AVGGIFT,CONTROLN,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
0,0,2009-01-01,GRI,0,IL,61081,,,1957-12-01,0,,,,,XXXX,T2,,,,,,NaN,NaN,F,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,0,39,34,18,10,2,1,,,,5.0,,,,,,,,,,,,,,,,,,,,,X,992,264,332,0,35,65,47,53,92,1,0,0,11,0,0,0,0,0,0,0,11,0,0,0,39,48,51,40,50,54,25,31,42,27,11,14,18,17,13,11,15,12,11,34,25,18,26,10,23,18,33,49,28,12,4,61,7,12,19,198,276,97,95,2,2,0,0,7,7,0,479,635,3,2,86,14,96,4,7,38,80,70,32,84,16,6,2,5,9,15,3,17,50,25,0,0,0,2,7,13,27,47,0,1,61,58,61,15,4,2,0,0,14,1,0,0,2,5,17,73,0.0,177.0,682.0,307,318,349,378,12883,13,23,23,23,15,1,0,0,1,4,25,24,26,17,2,0,0,2,28,4,51,1,46,54,3,88,8,0,0,0,0,0,0,4,1,13,14,16,2,45,56,64,50,64,44,62,53,99,0,0,9,3,8,13,9,0,3,9,3,15,19,5,4,3,0,3,41,1,0,7,13,6,5,0,4,9,4,1,3,10,2,1,7,78,2,0,120,16,10,39,21,8,4,3,5,20,3,19,4,0,0,0,18,39,0,34,23,18,16,1,4,0,23,0,0,5,1,0,0,0,0,0,2,0,3,74,88,8,0,4,96,77,19,13,31,5,14,14,31,54,46,0,0,90,0,10,0,0,0,33,65,40,99,99,6,2,10,7,2017-06-01,2016-06-01,2016-04-01,2016-04-01,2016-03-01,2016-02-01,2016-01-01,2015-11-01,2015-10-01,2015-10-01,2015-08-01,2015-07-01,2015-06-01,2015-04-01,2015-03-01,2015-02-01,2015-01-01,2014-11-01,2014-11-01,2014-10-01,2014-09-01,2014-07-01,2014-06-01,L4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,27,2017-02-01,74,6,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-01,NaN,NaN,NaN,2015-07-01,2015-05-01,2015-05-01,2015-03-01,NaN,NaN,NaN,NaN,NaN,2014-08-01,2014-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,10.0,11.0,11.0,11.0,NaN,NaN,NaN,NaN,NaN,11.0,9.0,240.0,31,14,5.0,2012-08-01,12.0,2014-02-01,10.0,2015-12-01,2009-11-01,2010-03-01,4.0,7.741935,95515,0,L,4,E,X,X,X,C
1,1,2014-01-01,BOA,1,CA,91326,,,1972-02-01,0,,,,,XXXX,S1,H,,,,M,1.0,6.0,M,9.0,16,0.0,0.0,3.0,1.0,1.0,1.0,0.0,0.0,0.0,2.0,0.0,3.0,0.0,0.0,3,0,15,55,11,6,2,1,,,,9.0,02,,,,,,,,,,,,,,,,,,,,,3611,940,998,99,0,0,50,50,67,0,0,31,6,4,2,6,4,14,0,0,2,0,1,4,34,41,43,32,42,45,32,33,46,21,13,14,33,23,10,4,2,11,16,36,22,15,12,1,5,4,21,75,55,23,9,69,4,3,24,317,360,99,99,0,0,0,0,0,0,0,5468,5218,12,10,96,4,97,3,9,59,94,88,55,95,5,4,1,3,5,4,2,18,44,5,0,0,0,97,98,98,98,99,94,0,83,76,73,21,5,0,0,0,4,0,0,0,91,91,91,94,4480.0,13.0,803.0,1088,1096,1026,1037,36175,2,6,2,5,15,14,13,10,33,2,5,2,5,15,14,14,10,32,6,2,66,3,56,44,9,80,14,0,0,0,0,0,0,6,0,2,24,32,12,71,70,83,58,81,57,64,57,99,99,0,22,24,4,21,13,2,1,6,0,4,1,0,3,1,0,6,13,1,2,8,18,11,4,3,4,10,7,11,1,6,2,1,16,69,5,2,160,5,5,12,21,7,30,20,14,24,4,24,10,0,0,0,8,15,0,55,10,11,0,0,2,0,3,1,1,2,3,1,1,0,3,0,0,0,42,39,50,7,27,16,99,92,53,5,10,2,26,56,97,99,0,0,0,96,0,4,0,0,0,99,0,99,99,99,20,4,6,5,2017-06-01,2016-06-01,2016-04-01,2016-04-01,2016-03-01,2016-02-01,2016-01-01,2015-11-01,2015-10-01,2015-10-01,2015-09-01,NaN,NaN,NaN,2015-03-01,NaN,NaN,2014-11-01,2014-11-01,2014-10-01,2014-09-01,NaN,2014-06-01,L2G,A2G,A2G,A2G,A2G,A1E,A1E,A1E,A1E,A1E,A1E,,,,L1E,,,N1E,N1E,N1E,N1E,,F1E,12,2017-02-01,32,6,13,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-01,NaN,NaN,NaN,NaN,NaN,NaN,2015-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0,3,1,10.0,2013-10-01,25.0,2015-12-01,25.0,2015-12-01,2013-10-01,2015-04-01,18.0,15.666667,148535,0,L,2,G,X,X,X,A
2,2,2010-01-01,AMH,1,NC,27017,,,NaN,0,,,,,XXXX,R2,U,,,,,NaN,3.0,M,1.0,2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3,0,20,29,33,6,8,1,,,,1.0,,,,,,,,,,,,,,,,,,,,,X,7001,2040,2669,0,2,98,49,51,96,2,0,0,2,0,0,0,0,0,0,0,2,0,0,0,35,43,46,37,45,49,23,35,40,25,13,20,19,16,13,10,8,15,14,30,22,19,25,10,23,21,35,44,22,6,2,63,9,9,19,183,254,69,69,1,6,5,3,3,3,0,497,546,2,1,78,22,93,7,18,36,76,65,30,86,14,7,2,5,11,17,3,17,60,18,0,1,0,0,1,6,18,50,0,4,36,49,51,14,5,4,2,24,11,2,3,6,0,2,9,44,0.0,281.0,518.0,251,292,292,340,11576,32,18,20,15,12,2,0,0,1,20,19,24,18,16,2,0,0,1,28,8,31,11,38,62,8,74,22,0,0,0,0,0,2,2,1,21,19,24,6,61,65,73,59,70,56,78,62,82,99,4,10,5,2,6,12,0,1,9,5,18,20,5,7,6,0,11,33,4,3,2,12,3,3,2,0,7,8,3,3,6,7,1,8,74,3,1,120,22,20,28,16,6,5,3,1,23,1,16,6,0,0,0,10,21,0,28,23,32,8,1,14,1,5,0,0,7,0,0,0,0,0,1,0,0,2,84,96,3,0,0,92,65,29,9,22,3,12,23,50,69,31,0,0,0,6,35,44,0,15,22,77,17,97,92,9,2,6,5,2017-06-01,2016-06-01,2016-04-01,2016-04-01,2016-03-01,2016-02-01,2016-01-01,2015-11-01,NaN,2015-10-01,2015-08-01,2015-07-01,2015-06-01,2015-04-01,2015-03-01,NaN,2015-01-01,2014-11-01,NaN,NaN,2014-09-01,2014-07-01,2014-06-01,L4E,S4E,S4E,S4E,S4E,S4F,S4F,S4F,,S4F,S4F,S4F,S4F,S4F,S4F,,S4D,S4D,,,S4D,S4D,S3D,26,2017-02-01,63,6,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-01,NaN,2015-06-01,NaN,2015-04-01,NaN,2015-01-01,NaN,NaN,NaN,2014-09-01,2014-07-01,2014-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,9.0,NaN,9.0,NaN,8.0,NaN,NaN,NaN,8.0,7.0,6.0,202.0,27,14,2.0,2011-11-01,16.0,2012-07-01,5.0,2015-12-01,2010-01-01,2011-01-01,12.0,7.481481,15078,1,L,4,E,X,X,X,C
3,3,2007-01-01,BRY,0,CA,95953,,,1948-01-01,0,,,,,XXXX,R2,U,,,,,NaN,1.0,F,4.0,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3,0,23,14,31,3,0,3,,,,0.0,,,,,,,,,,,,,,,,,,,,,X,640,160,219,0,8,92,54,46,61,0,0,11,32,6,2,0,0,0,0,0,31,0,0,1,32,40,44,34,43,47,25,45,35,20,15,25,17,17,12,7,7,20,17,30,14,19,25,11,23,23,27,50,30,15,8,63,9,6,23,199,283,85,83,3,4,1,0,2,0,2,1000,1263,2,1,48,52,93,7,6,36,73,61,30,84,16,6,3,3,21,12,4,13,36,13,0,0,0,10,25,50,69,92,10,15,42,55,50,15,5,4,0,9,42,4,0,5,1,8,17,34,9340.0,67.0,862.0,386,388,396,423,15130,27,12,4,26,22,5,0,0,4,35,5,6,12,30,6,0,0,5,22,14,26,20,46,54,3,58,36,0,0,0,0,0,6,0,0,17,13,15,0,43,69,81,53,68,45,33,31,0,99,23,17,3,0,6,6,0,0,13,42,12,0,0,0,42,0,6,3,0,0,0,23,3,3,6,0,3,3,3,3,3,0,3,6,87,0,0,120,28,12,14,27,10,3,5,0,19,1,17,0,0,0,0,13,23,0,14,40,31,16,0,1,0,13,0,0,4,0,0,0,3,0,0,0,0,29,67,56,41,3,0,94,43,27,4,38,0,10,19,39,45,55,0,0,45,22,17,0,0,16,23,77,22,93,89,16,2,6,6,2017-06-01,2016-06-01,2016-04-01,2016-04-01,2016-03-01,2016-02-01,2016-01-01,2015-11-01,NaN,2015-10-01,2015-08-01,2015-07-01,2015-06-01,2015-04-01,2015-03-01,2015-02-01,2015-01-01,2014-11-01,2014-11-01,2014-10-01,2014-09-01,NaN,NaN,L4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,,S4E,S4E,S4E,S4E,S4E,S4E,S2D,S2D,A1D,A1D,A1D,A1D,,,27,2017-02-01,66,6,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-01,2015-09-01,NaN,2015-08-01,NaN,2015-05-01,2015-03-01,NaN,NaN,2014-11-01,2014-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,10.0,NaN,10.0,NaN,7.0,11.0,NaN,NaN,6.0,11.0,NaN,NaN,NaN,109.0,16,7,2.0,2007-11-01,11.0,2014-11-01,10.0,2015-12-01,2007-02-01,2007-11-01,9.0,6.812500,172556,1,L,4,E,X,X,X,C
4,4,2006-01-01,,0,FL,33176,,,1940-01-01,0,X,X,,,XXXX,S2,H,,,,,1.0,3.0,F,2.0,60,1.0,0.0,9.0,0.0,4.0,1.0,0.0,0.0,0.0,4.0,0.0,1.0,0.0,1.0,3,1,28,9,53,26,3,2,,12,,NaN,,,,Y,Y,,,,Y,,,Y,,Y,,Y,,Y,,3,,2520,627,761,99,0,0,46,54,2,98,0,0,1,0,0,0,0,0,0,0,0,0,0,0,33,45,50,36,46,50,27,34,43,23,14,21,13,15,20,12,5,13,15,34,19,19,31,7,27,16,26,57,36,24,14,42,17,9,33,235,323,99,98,0,0,0,0,0,0,0,576,594,4,3,90,10,97,3,0,42,82,49,22,92,8,20,3,17,9,23,1,1,1,0,21,58,19,0,1,2,16,67,0,2,45,52,53,16,6,0,0,0,9,0,0,0,25,58,74,83,5000.0,127.0,528.0,240,250,293,321,9836,24,29,23,13,4,4,0,0,2,21,30,22,16,4,5,0,0,3,35,8,11,14,20,80,4,73,22,1,1,0,0,0,3,1,2,1,24,27,3,76,61,73,51,65,49,80,31,81,99,10,17,8,2,6,15,3,7,22,2,9,0,7,2,2,0,6,1,5,2,2,12,2,7,6,4,15,29,4,3,26,3,2,7,49,12,1,120,16,20,30,13,3,12,5,2,26,1,20,7,1,1,1,15,28,4,9,16,53,20,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,65,99,0,0,0,90,45,18,25,34,0,1,3,6,33,67,0,0,9,14,72,3,0,0,99,1,21,99,96,6,2,7,11,2017-06-01,2016-06-01,2016-04-01,2016-04-01,2016-03-01,2015-12-01,2016-01-01,2015-11-01,2015-10-01,2015-09-01,2015-08-01,2015-02-01,2015-06-01,NaN,2015-03-01,2015-02-01,2014-12-01,2014-11-01,2014-11-01,2014-10-01,2015-06-01,2014-07-01,2014-06-01,L2F,A2F,A2F,A2F,A1D,I2D,A1E,A1E,L1D,A1E,A1E,L1D,L3D,,L3D,A2D,A2D,A3D,A3D,A3D,I4E,A3D,A3D,43,2017-02-01,113,10,25,NaN,NaN,NaN,NaN,NaN,2016-01-01,NaN,NaN,NaN,NaN,NaN,2015-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254.0,37,8,3.0,2013-10-01,15.0,2016-01-01,15.0,2016-01-01,1999-03-01,2000-05-01,14.0,6.864865,7112,1,L,2,F,X,X,X,A

# 1.Analysing Data

## Donator classification

- RFA_2R    --> Recency code for RFA_2
- RFA_2F    --> Frequency code for RFA_2
- RFA_2A    --> Donation Amount code for RFA_2
- MDMAUD_R  --> Recency code for MDMAUD
- MDMAUD_F  --> Frequecy code for MDMAUD
- MDMAUD_A  --> Donation Amount code for MDMAUD

In [5]:
columns_donator_classification = [
    'RFA_2R',
    'RFA_2F',
    'RFA_2A'
]

In [6]:
df[columns_donator_classification].head()

  RFA_2R  RFA_2F RFA_2A
0      L       4      E
1      L       2      G
2      L       4      E
3      L       4      E
4      L       2      F

In [7]:
df[columns_donator_classification].isna().sum()

RFA_2R    0
RFA_2F    0
RFA_2A    0
dtype: int64

 ## Donation history

- RAMNTALL  -->  Dollar amount of lifetime gifts to date
- NGIFTALL  -->  Number of lifetime gifts to date
- CARDGIFT  -->  Number of lifetime gifts to card promotions to date
- MINRAMNT  -->  Dollar amount of smallest gift to date
- MINRDATE  -->  Date associated with the smallest gift to date
- MAXRAMNT  -->  Dollar amount of largest gift to date
- MAXRDATE  -->  Date associated with the largest gift to date
- LASTGIFT  -->  Dollar amount of most recent gift
- LASTDATE  -->  Date associated with the most recent gift
- FISTDATE  -->  Date of first gift
- NEXTDATE  -->  Date of second gift
- TIMELAG  -->   Number of months between first and second gift
- AVGGIFT  -->   Average dollar amount of gifts to date

In [8]:
columns_donation_history = [
    'RAMNTALL',
    'NGIFTALL',
    'CARDGIFT',
    'MINRAMNT',
    'MINRDATE',
    'MAXRAMNT',
    'MAXRDATE',
    'LASTGIFT',
    'LASTDATE',
    'FISTDATE',
    'NEXTDATE',
    'TIMELAG',
    'AVGGIFT'
]

In [9]:
df[columns_donation_history].head()

,RAMNTALL,NGIFTALL,CARDGIFT,MINRAMNT,MINRDATE,MAXRAMNT,MAXRDATE,LASTGIFT,LASTDATE,FISTDATE,NEXTDATE,TIMELAG,AVGGIFT
0,240.0,31,14,5.0,2012-08-01,12.0,2014-02-01,10.0,2015-12-01,2009-11-01,2010-03-01,4.0,7.741935
1,47.0,3,1,10.0,2013-10-01,25.0,2015-12-01,25.0,2015-12-01,2013-10-01,2015-04-01,18.0,15.666667
2,202.0,27,14,2.0,2011-11-01,16.0,2012-07-01,5.0,2015-12-01,2010-01-01,2011-01-01,12.0,7.481481
3,109.0,16,7,2.0,2007-11-01,11.0,2014-11-01,10.0,2015-12-01,2007-02-01,2007-11-01,9.0,6.812500
4,254.0,37,8,3.0,2013-10-01,15.0,2016-01-01,15.0,2016-01-01,1999-03-01,2000-05-01,14.0,6.864865

In [10]:
df[columns_donation_history].isna().sum()

RAMNTALL       0
NGIFTALL       0
CARDGIFT       0
MINRAMNT       0
MINRDATE       0
MAXRAMNT       0
MAXRDATE       0
LASTGIFT       0
LASTDATE       0
FISTDATE       2
NEXTDATE    9973
TIMELAG     9973
AVGGIFT        0
dtype: int64

In [11]:
#drop rows with FISTDATE == NaN
df.dropna(subset=['FISTDATE'], inplace=True)
df[columns_donation_history].isna().sum()

RAMNTALL       0
NGIFTALL       0
CARDGIFT       0
MINRAMNT       0
MINRDATE       0
MAXRAMNT       0
MAXRDATE       0
LASTGIFT       0
LASTDATE       0
FISTDATE       0
NEXTDATE    9973
TIMELAG     9973
AVGGIFT        0
dtype: int64

In [12]:
#fill time lag between first and second donation to 0
df['TIMELAG'].fillna(0, inplace=True)
df[columns_donation_history].isna().sum()

RAMNTALL       0
NGIFTALL       0
CARDGIFT       0
MINRAMNT       0
MINRDATE       0
MAXRAMNT       0
MAXRDATE       0
LASTGIFT       0
LASTDATE       0
FISTDATE       0
NEXTDATE    9973
TIMELAG        0
AVGGIFT        0
dtype: int64

In [13]:
# Make sure datatype is correct
df[columns_donation_history].dtypes

RAMNTALL    float64
NGIFTALL      int64
CARDGIFT      int64
MINRAMNT    float64
MINRDATE     object
MAXRAMNT    float64
MAXRDATE     object
LASTGIFT    float64
LASTDATE     object
FISTDATE     object
NEXTDATE     object
TIMELAG     float64
AVGGIFT     float64
dtype: object

In [14]:
#fix dtypes
df[columns_donation_history] =\
    df[columns_donation_history].astype(
        {
            'RAMNTALL': 'int64',
            'MINRAMNT': 'int64',
            'MINRDATE': 'datetime64',
            'MAXRAMNT': 'int64',
            'MAXRDATE': 'datetime64',
            'LASTGIFT': 'int64',
            'LASTDATE': 'datetime64',
            'FISTDATE': 'datetime64',
            'NEXTDATE': 'datetime64',
            'TIMELAG': 'int64',
            'AVGGIFT': 'int64'
        }
    )

In [15]:
df[columns_donation_history].head()

,RAMNTALL,NGIFTALL,CARDGIFT,MINRAMNT,MINRDATE,MAXRAMNT,MAXRDATE,LASTGIFT,LASTDATE,FISTDATE,NEXTDATE,TIMELAG,AVGGIFT
0,240,31,14,5,2012-08-01,12,2014-02-01,10,2015-12-01,2009-11-01,2010-03-01,4,7
1,47,3,1,10,2013-10-01,25,2015-12-01,25,2015-12-01,2013-10-01,2015-04-01,18,15
2,202,27,14,2,2011-11-01,16,2012-07-01,5,2015-12-01,2010-01-01,2011-01-01,12,7
3,109,16,7,2,2007-11-01,11,2014-11-01,10,2015-12-01,2007-02-01,2007-11-01,9,6
4,254,37,8,3,2013-10-01,15,2016-01-01,15,2016-01-01,1999-03-01,2000-05-01,14,6

In [16]:
#generate time delta between biggest and smallest donation
timelag_days = list(map(lambda delta: delta.days, np.abs(df['MINRDATE'] - df['MAXRDATE'])))

new_column = 'TIMEDELTA_SMALLEST_BIGGEST_DONATION'
df[new_column] = timelag_days
columns_donation_history.append(new_column)

In [17]:
#generate time delta between biggest and first donation
timelag_days = list(map(lambda delta: delta.days, np.abs(df['MAXRDATE'] - df['FISTDATE'])))

new_column = 'TIMEDELTA_FIRST_BIGGEST_DONATION'
df[new_column] = timelag_days
columns_donation_history.append(new_column)

In [18]:
#generate time delta between first and last donation
timelag_days = list(map(lambda delta: delta.days, np.abs(df['LASTDATE'] - df['FISTDATE'])))

new_column = 'TIMEDELTA_FIRST_LAST_DONATION'
df[new_column] = timelag_days
columns_donation_history.append(new_column)

In [19]:
columns_to_remove = ['MINRDATE','MAXRDATE','LASTDATE','FISTDATE','NEXTDATE']
df.drop(columns=columns_to_remove, inplace=True)

columns_donation_history = [col for col in columns_donation_history if col not in columns_to_remove]

In [20]:
df[columns_donation_history].head()

,RAMNTALL,NGIFTALL,CARDGIFT,MINRAMNT,MAXRAMNT,LASTGIFT,TIMELAG,AVGGIFT,TIMEDELTA_SMALLEST_BIGGEST_DONATION,TIMEDELTA_FIRST_BIGGEST_DONATION,TIMEDELTA_FIRST_LAST_DONATION
0,240,31,14,5,12,10,4,7,549,1553,2221
1,47,3,1,10,25,25,18,15,791,791,791
2,202,27,14,2,16,5,12,7,243,912,2160
3,109,16,7,2,11,10,9,6,2557,2830,3225
4,254,37,8,3,15,15,14,6,822,6150,6150

## Merging promotions by year
### Number gifts per year

In [21]:
columns_promotions_2014 = ['RDATE_23','RDATE_24']

columns_promotions_2015 = ['RDATE_13','RDATE_14','RDATE_15','RDATE_16','RDATE_17','RDATE_18','RDATE_19','RDATE_20','RDATE_21','RDATE_22','RDATE_23','RDATE_24']

columns_promotions_2016 = ['RDATE_3','RDATE_4','RDATE_5','RDATE_6','RDATE_7','RDATE_8','RDATE_9','RDATE_10','RDATE_11','RDATE_12']

In [22]:
#Getting number of donations per year
nr_donations_2014 = df[columns_promotions_2014].isna().sum(axis=1)
nr_donations_2015 = df[columns_promotions_2015].isna().sum(axis=1)
nr_donations_2016 = df[columns_promotions_2016].isna().sum(axis=1)
donations = pd.DataFrame([nr_donations_2014, nr_donations_2015, nr_donations_2016]).transpose()

columns_nr_donations_perYear = ['TOT_DON_14','TOT_DON_15','TOT_DON_16']

In [23]:
df[columns_nr_donations_perYear] = donations
df[columns_nr_donations_perYear].head()

   TOT_DON_14  TOT_DON_15  TOT_DON_16
0           0           6           9
1           2          11           9
2           0           6           9
3           2           7           8
4           2          11           9

### Total gift amount per year

In [24]:
columns_promotions_2014 = ['RAMNT_23','RAMNT_24']

columns_promotions_2015 = ['RAMNT_13','RAMNT_14','RAMNT_15','RAMNT_16','RAMNT_17','RAMNT_18','RAMNT_19','RAMNT_20','RAMNT_21','RAMNT_22','RAMNT_23','RAMNT_24']

columns_promotions_2016 = ['RAMNT_3','RAMNT_4','RAMNT_5','RAMNT_6','RAMNT_7','RAMNT_8','RAMNT_9','RAMNT_10','RAMNT_11','RAMNT_12']

In [25]:
#Getting number of donations per year
nr_donations_2014 = df[columns_promotions_2014].sum(axis=1)
nr_donations_2015 = df[columns_promotions_2015].sum(axis=1)
nr_donations_2016 = df[columns_promotions_2016].sum(axis=1)
donations = pd.DataFrame([nr_donations_2014, nr_donations_2015, nr_donations_2016]).transpose()

columns_total_donation_amount_perYear = ['TOT_DON_AMNT_14','TOT_DON_AMNT_15','TOT_DON_AMNT_16']

In [26]:
df[columns_total_donation_amount_perYear] = donations
df[columns_total_donation_amount_perYear].head()

   TOT_DON_AMNT_14  TOT_DON_AMNT_15  TOT_DON_AMNT_16
0             20.0             63.0             10.0
1              0.0             12.0             25.0
2             13.0             47.0             11.0
3              0.0             45.0             20.0
4              0.0             10.0             15.0

## Small Recap

In [29]:
modified_columns =\
    columns_donator_classification +\
    columns_donation_history +\
    columns_nr_donations_perYear +\
    columns_total_donation_amount_perYear

df[modified_columns].head()

,RFA_2R,RFA_2F,RFA_2A,RAMNTALL,NGIFTALL,CARDGIFT,MINRAMNT,MAXRAMNT,LASTGIFT,TIMELAG,AVGGIFT,TIMEDELTA_SMALLEST_BIGGEST_DONATION,TIMEDELTA_FIRST_BIGGEST_DONATION,TIMEDELTA_FIRST_LAST_DONATION,TOT_DON_14,TOT_DON_15,TOT_DON_16,TOT_DON_AMNT_14,TOT_DON_AMNT_15,TOT_DON_AMNT_16
0,L,4,E,240,31,14,5,12,10,4,7,549,1553,2221,0,6,9,20.0,63.0,10.0
1,L,2,G,47,3,1,10,25,25,18,15,791,791,791,2,11,9,0.0,12.0,25.0
2,L,4,E,202,27,14,2,16,5,12,7,243,912,2160,0,6,9,13.0,47.0,11.0
3,L,4,E,109,16,7,2,11,10,9,6,2557,2830,3225,2,7,8,0.0,45.0,20.0
4,L,2,F,254,37,8,3,15,15,14,6,822,6150,6150,2,11,9,0.0,10.0,15.0