In [19]:
import pandas as pd
import re
import numpy as np

In [59]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

## Auxiliary Methods

In [20]:
pat = '\s+'

def fill_NaN(lst, df): 
    for col in lst : 
        df[col].replace(to_replace=pat, value=np.nan, regex=True, inplace=True)

# Read Data

In [21]:
df = pd.read_csv('../Data/donors.csv', low_memory=False)
df

,Unnamed: 0,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,...,AVGGIFT,CONTROLN,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
0,0,2009-01-01,GRI,0,IL,61081,,,1957-12-01,0,...,7.741935,95515,0,L,4,E,X,X,X,C
1,1,2014-01-01,BOA,1,CA,91326,,,1972-02-01,0,...,15.666667,148535,0,L,2,G,X,X,X,A
2,2,2010-01-01,AMH,1,NC,27017,,,NaN,0,...,7.481481,15078,1,L,4,E,X,X,X,C
3,3,2007-01-01,BRY,0,CA,95953,,,1948-01-01,0,...,6.812500,172556,1,L,4,E,X,X,X,C
4,4,2006-01-01,,0,FL,33176,,,1940-01-01,0,...,6.864865,7112,1,L,2,F,X,X,X,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,95407,2016-01-01,ASE,1,AK,99504,,,NaN,0,...,25.000000,184568,0,L,1,G,X,X,X,C
95408,95408,2016-01-01,DCD,1,TX,77379,,,1970-01-01,0,...,20.000000,122706,1,L,1,F,X,X,X,A
95409,95409,2015-01-01,MBC,1,MI,48910,,,1958-01-01,0,...,8.285714,189641,1,L,3,E,X,X,X,B
95410,95410,2006-01-01,PRV,0,CA,91320,,,1960-05-01,0,...,12.146341,4693,1,L,4,F,X,X,X,A
95411,95411,2008-01-01,MCC,2,NC,28409,,,1938-01-01,0,...,96.794872,185114,1,L,1,G,C,1,C,C

## ADATE SELECTION (PROMOTION START)

In [22]:
adate_re = re.compile(pattern='^ADATE_\d{1,2}')

In [23]:
ADATE_COLS = list(filter(adate_re.match, df.columns))
working_variables_dic = {'ADATE': ADATE_COLS}

fill_NaN(ADATE_COLS, df)
df[ADATE_COLS]

,ADATE_2,ADATE_3,ADATE_4,ADATE_5,ADATE_6,ADATE_7,ADATE_8,ADATE_9,ADATE_10,ADATE_11,...,ADATE_15,ADATE_16,ADATE_17,ADATE_18,ADATE_19,ADATE_20,ADATE_21,ADATE_22,ADATE_23,ADATE_24
0,2017-06-01,2016-06-01,2016-04-01,2016-04-01,2016-03-01,2016-02-01,2016-01-01,2015-11-01,2015-10-01,2015-10-01,...,2015-04-01,2015-03-01,2015-02-01,2015-01-01,2014-11-01,2014-11-01,2014-10-01,2014-09-01,2014-07-01,2014-06-01
1,2017-06-01,2016-06-01,2016-04-01,2016-04-01,2016-03-01,2016-02-01,2016-01-01,2015-11-01,2015-10-01,2015-10-01,...,NaN,2015-03-01,NaN,NaN,2014-11-01,2014-11-01,2014-10-01,2014-09-01,NaN,2014-06-01
2,2017-06-01,2016-06-01,2016-04-01,2016-04-01,2016-03-01,2016-02-01,2016-01-01,2015-11-01,NaN,2015-10-01,...,2015-04-01,2015-03-01,NaN,2015-01-01,2014-11-01,NaN,NaN,2014-09-01,2014-07-01,2014-06-01
3,2017-06-01,2016-06-01,2016-04-01,2016-04-01,2016-03-01,2016-02-01,2016-01-01,2015-11-01,NaN,2015-10-01,...,2015-04-01,2015-03-01,2015-02-01,2015-01-01,2014-11-01,2014-11-01,2014-10-01,2014-09-01,NaN,NaN
4,2017-06-01,2016-06-01,2016-04-01,2016-04-01,2016-03-01,2015-12-01,2016-01-01,2015-11-01,2015-10-01,2015-09-01,...,NaN,2015-03-01,2015-02-01,2014-12-01,2014-11-01,2014-11-01,2014-10-01,2015-06-01,2014-07-01,2014-06-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,2017-06-01,2016-06-01,2016-04-01,NaN,2016-03-01,2016-01-01,2015-12-01,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95408,2017-06-01,NaN,NaN,NaN,NaN,2016-01-01,2016-01-01,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95409,2017-06-01,2016-06-01,2016-04-01,2016-04-01,2016-03-01,NaN,2016-01-01,2015-11-01,2015-10-01,2015-10-01,...,2015-04-01,2015-03-01,NaN,2015-01-01,NaN,NaN,2014-09-01,2014-08-01,NaN,NaN
95410,2017-06-01,2016-06-01,2016-09-01,2016-04-01,2016-03-01,2016-02-01,2016-01-01,2015-11-01,2015-10-01,2015-10-01,...,2015-04-01,2015-03-01,2015-02-01,2015-01-01,2014-11-01,2014-11-01,2014-10-01,2014-09-01,2014-07-01,2014-06-01
95411,2017-06-01,2016-06-01,2016-04-01,2016-04-01,2016-03-01,2016-02-01,2016-01-01,2015-11-01,2015-11-01,2015-11-01,...,2015-04-01,2015-03-01,2015-02-01,2015-01-01,2014-11-01,2014-11-01,2014-10-01,2014-09-01,2014-07-01,2014-06-01

In [66]:
# % of NaN
df[ADATE_COLS].isna().sum() / df[ADATE_COLS].shape[0]

ADATE_2     0.000000
ADATE_3     0.020438
ADATE_4     0.022964
ADATE_5     0.352052
ADATE_6     0.037280
ADATE_7     0.093007
ADATE_8     0.036798
ADATE_9     0.117857
ADATE_10    0.343227
ADATE_11    0.109232
ADATE_12    0.093521
ADATE_13    0.421530
ADATE_14    0.197742
ADATE_15    0.686255
ADATE_16    0.213432
ADATE_17    0.289796
ADATE_18    0.222855
ADATE_19    0.256572
ADATE_20    0.526139
ADATE_21    0.369052
ADATE_22    0.268813
ADATE_23    0.589758
ADATE_24    0.387509
dtype: float64

In [62]:
df[ADATE_COLS].loc[[0,4]]

      ADATE_2     ADATE_3     ADATE_4     ADATE_5     ADATE_6     ADATE_7     ADATE_8     ADATE_9    ADATE_10    ADATE_11    ADATE_12    ADATE_13    ADATE_14    ADATE_15    ADATE_16    ADATE_17    ADATE_18    ADATE_19    ADATE_20    ADATE_21    ADATE_22    ADATE_23    ADATE_24
0  2017-06-01  2016-06-01  2016-04-01  2016-04-01  2016-03-01  2016-02-01  2016-01-01  2015-11-01  2015-10-01  2015-10-01  2015-08-01  2015-07-01  2015-06-01  2015-04-01  2015-03-01  2015-02-01  2015-01-01  2014-11-01  2014-11-01  2014-10-01  2014-09-01  2014-07-01  2014-06-01
4  2017-06-01  2016-06-01  2016-04-01  2016-04-01  2016-03-01  2015-12-01  2016-01-01  2015-11-01  2015-10-01  2015-09-01  2015-08-01  2015-02-01  2015-06-01         NaN  2015-03-01  2015-02-01  2014-12-01  2014-11-01  2014-11-01  2014-10-01  2015-06-01  2014-07-01  2014-06-01

## Generate from ADATE binary columns
### Columns will hold if the user received promotion mail or not

In [52]:
new_cols = [df[col].apply(lambda day: 0 if day is np.nan else 1).rename('participated_%s' % col) for col in ADATE_COLS]

In [53]:
pd.DataFrame(new_cols).transpose()

,participated_ADATE_2,participated_ADATE_3,participated_ADATE_4,participated_ADATE_5,participated_ADATE_6,participated_ADATE_7,participated_ADATE_8,participated_ADATE_9,participated_ADATE_10,participated_ADATE_11,...,participated_ADATE_15,participated_ADATE_16,participated_ADATE_17,participated_ADATE_18,participated_ADATE_19,participated_ADATE_20,participated_ADATE_21,participated_ADATE_22,participated_ADATE_23,participated_ADATE_24
0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,1,1,1,1,1,1,1,1,1,1,...,0,1,0,0,1,1,1,1,0,1
2,1,1,1,1,1,1,1,1,0,1,...,1,1,0,1,1,0,0,1,1,1
3,1,1,1,1,1,1,1,1,0,1,...,1,1,1,1,1,1,1,1,0,0
4,1,1,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,1,1,1,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
95408,1,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
95409,1,1,1,1,1,0,1,1,1,1,...,1,1,0,1,0,0,1,1,0,0
95410,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
95411,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

## RDATE SELECTION (DATE GIFT DELIVERY)

In [24]:
rdate_re = re.compile(pattern='^RDATE_\d{1,2}')

In [25]:
RDATE_COLS = list(filter(rdate_re.match, df.columns))
working_variables_dic['RDATE'] = RDATE_COLS

fill_NaN(RDATE_COLS, df)
df[RDATE_COLS]

,RDATE_3,RDATE_4,RDATE_5,RDATE_6,RDATE_7,RDATE_8,RDATE_9,RDATE_10,RDATE_11,RDATE_12,...,RDATE_15,RDATE_16,RDATE_17,RDATE_18,RDATE_19,RDATE_20,RDATE_21,RDATE_22,RDATE_23,RDATE_24
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-01,NaN,NaN,...,2015-05-01,2015-05-01,2015-03-01,NaN,NaN,NaN,NaN,NaN,2014-08-01,2014-06-01
1,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-01,NaN,NaN,NaN,...,NaN,2015-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-01,...,NaN,2015-04-01,NaN,2015-01-01,NaN,NaN,NaN,2014-09-01,2014-07-01,2014-06-01
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-01,2015-09-01,...,NaN,2015-05-01,2015-03-01,NaN,NaN,2014-11-01,2014-11-01,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,2016-01-01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,NaN,NaN,NaN,NaN,2016-02-01,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95408,NaN,NaN,NaN,NaN,2016-03-01,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95409,NaN,NaN,NaN,NaN,NaN,2016-01-01,NaN,NaN,NaN,2015-10-01,...,NaN,NaN,NaN,2015-01-01,NaN,NaN,NaN,2014-10-01,NaN,NaN
95410,NaN,2016-08-01,NaN,NaN,NaN,NaN,NaN,2015-12-01,2015-11-01,NaN,...,2015-07-01,2015-06-01,NaN,2015-02-01,NaN,NaN,2015-01-01,2014-10-01,NaN,NaN
95411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-11-01,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-01,NaN

## RFA COLS (PVA ANALYSIS)

In [26]:
rfa_re = re.compile(pattern='^RFA_\d{1,2}')

In [27]:
RFA_COLS = list(filter(rfa_re.match, df.columns))
working_variables_dic['RFA'] = RFA_COLS

fill_NaN(RFA_COLS, df)
df[RFA_COLS]

,RFA_2,RFA_3,RFA_4,RFA_5,RFA_6,RFA_7,RFA_8,RFA_9,RFA_10,RFA_11,...,RFA_18,RFA_19,RFA_20,RFA_21,RFA_22,RFA_23,RFA_24,RFA_2R,RFA_2F,RFA_2A
0,L4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,...,S4E,S4E,S4E,S4E,S4E,S4E,S4E,L,4,E
1,L2G,A2G,A2G,A2G,A2G,A1E,A1E,A1E,A1E,A1E,...,NaN,N1E,N1E,N1E,N1E,NaN,F1E,L,2,G
2,L4E,S4E,S4E,S4E,S4E,S4F,S4F,S4F,NaN,S4F,...,S4D,S4D,NaN,NaN,S4D,S4D,S3D,L,4,E
3,L4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,NaN,S4E,...,S2D,A1D,A1D,A1D,A1D,NaN,NaN,L,4,E
4,L2F,A2F,A2F,A2F,A1D,I2D,A1E,A1E,L1D,A1E,...,A2D,A3D,A3D,A3D,I4E,A3D,A3D,L,2,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,L1G,F1G,F1G,NaN,F1G,P1G,P1G,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,L,1,G
95408,L1F,NaN,NaN,NaN,NaN,P1F,P1F,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,L,1,F
95409,L3E,S4E,S4E,S3E,S3E,NaN,A2E,N3E,N3E,N3E,...,F1D,NaN,NaN,P1D,P1D,NaN,NaN,L,3,E
95410,L4F,S4F,A3F,S4F,S4F,S4F,S4F,S4F,S4F,S4F,...,S2F,A1F,A1F,A1F,A1F,S2F,S3F,L,4,F
95411,L1G,A1G,A1G,A1G,A1G,L3G,L3G,L4G,A1G,A1G,...,S3G,S4G,S3G,S3G,S3G,S3G,S3G,L,1,G

## RAMNT SELECTION (AMOUNT DONATED)

In [28]:
ramnt_re = re.compile(pattern='^RAMNT_\d{1,2}')

In [29]:
RAMNT_COLS = list(filter(ramnt_re.match, df.columns))
fill_NaN(RAMNT_COLS, df)
df[RAMNT_COLS]

,RAMNT_3,RAMNT_4,RAMNT_5,RAMNT_6,RAMNT_7,RAMNT_8,RAMNT_9,RAMNT_10,RAMNT_11,RAMNT_12,...,RAMNT_15,RAMNT_16,RAMNT_17,RAMNT_18,RAMNT_19,RAMNT_20,RAMNT_21,RAMNT_22,RAMNT_23,RAMNT_24
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,...,11.0,11.0,11.0,NaN,NaN,NaN,NaN,NaN,11.0,9.0
1,NaN,NaN,NaN,NaN,NaN,NaN,25.0,NaN,NaN,NaN,...,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,...,NaN,9.0,NaN,8.0,NaN,NaN,NaN,8.0,7.0,6.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,10.0,...,NaN,7.0,11.0,NaN,NaN,6.0,11.0,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,NaN,NaN,NaN,NaN,25.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95408,NaN,NaN,NaN,NaN,20.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95409,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,10.0,...,NaN,NaN,NaN,10.0,NaN,NaN,NaN,5.0,NaN,NaN
95410,NaN,15.0,NaN,NaN,NaN,NaN,NaN,18.0,18.0,NaN,...,18.0,18.0,NaN,15.0,NaN,NaN,15.0,20.0,NaN,NaN
95411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,200.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,125.0,NaN

## Other

In [33]:
OTHERS = [
'CARDPROM',
'MAXADATE',
'NUMPROM',
'CARDPM12',
'NUMPRM12',
'RAMNTALL',
'NGIFTALL',
'CARDGIFT',
'MINRAMNT',
'MINRDATE',
'MAXRAMNT',
'MAXRDATE',
'LASTGIFT',
'LASTDATE',
'FISTDATE',
'NEXTDATE',
'TIMELAG',
'AVGGIFT'
]

In [34]:
fill_NaN(OTHERS, df)
df[OTHERS].head(n=5)

,CARDPROM,MAXADATE,NUMPROM,CARDPM12,NUMPRM12,RAMNTALL,NGIFTALL,CARDGIFT,MINRAMNT,MINRDATE,MAXRAMNT,MAXRDATE,LASTGIFT,LASTDATE,FISTDATE,NEXTDATE,TIMELAG,AVGGIFT
0,27,2017-02-01,74,6,14,240.0,31,14,5.0,2012-08-01,12.0,2014-02-01,10.0,2015-12-01,2009-11-01,2010-03-01,4.0,7.741935
1,12,2017-02-01,32,6,13,47.0,3,1,10.0,2013-10-01,25.0,2015-12-01,25.0,2015-12-01,2013-10-01,2015-04-01,18.0,15.666667
2,26,2017-02-01,63,6,14,202.0,27,14,2.0,2011-11-01,16.0,2012-07-01,5.0,2015-12-01,2010-01-01,2011-01-01,12.0,7.481481
3,27,2017-02-01,66,6,14,109.0,16,7,2.0,2007-11-01,11.0,2014-11-01,10.0,2015-12-01,2007-02-01,2007-11-01,9.0,6.812500
4,43,2017-02-01,113,10,25,254.0,37,8,3.0,2013-10-01,15.0,2016-01-01,15.0,2016-01-01,1999-03-01,2000-05-01,14.0,6.864865

In [35]:
df[OTHERS].isna().sum()

CARDPROM       0
MAXADATE       0
NUMPROM        0
CARDPM12       0
NUMPRM12       0
RAMNTALL       0
NGIFTALL       0
CARDGIFT       0
MINRAMNT       0
MINRDATE       0
MAXRAMNT       0
MAXRDATE       0
LASTGIFT       0
LASTDATE       0
FISTDATE       2
NEXTDATE    9973
TIMELAG     9973
AVGGIFT        0
dtype: int64