In [6]:
import pandas as pd
import re

In [5]:
df = pd.read_csv('../Data/donors.csv', low_memory=False)

## ADATE SELECTION (PROMOTION START)

In [8]:
adate_re = re.compile(pattern='^ADATE_\d{1,2}')

In [11]:
ADATE_COLS = list(filter(adate_re.match, df.columns))
df[ADATE_COLS]

,ADATE_2,ADATE_3,ADATE_4,ADATE_5,ADATE_6,ADATE_7,ADATE_8,ADATE_9,ADATE_10,ADATE_11,...,ADATE_15,ADATE_16,ADATE_17,ADATE_18,ADATE_19,ADATE_20,ADATE_21,ADATE_22,ADATE_23,ADATE_24
0,2017-06-01,2016-06-01,2016-04-01,2016-04-01,2016-03-01,2016-02-01,2016-01-01,2015-11-01,2015-10-01,2015-10-01,...,2015-04-01,2015-03-01,2015-02-01,2015-01-01,2014-11-01,2014-11-01,2014-10-01,2014-09-01,2014-07-01,2014-06-01
1,2017-06-01,2016-06-01,2016-04-01,2016-04-01,2016-03-01,2016-02-01,2016-01-01,2015-11-01,2015-10-01,2015-10-01,...,NaN,2015-03-01,NaN,NaN,2014-11-01,2014-11-01,2014-10-01,2014-09-01,NaN,2014-06-01
2,2017-06-01,2016-06-01,2016-04-01,2016-04-01,2016-03-01,2016-02-01,2016-01-01,2015-11-01,NaN,2015-10-01,...,2015-04-01,2015-03-01,NaN,2015-01-01,2014-11-01,NaN,NaN,2014-09-01,2014-07-01,2014-06-01
3,2017-06-01,2016-06-01,2016-04-01,2016-04-01,2016-03-01,2016-02-01,2016-01-01,2015-11-01,NaN,2015-10-01,...,2015-04-01,2015-03-01,2015-02-01,2015-01-01,2014-11-01,2014-11-01,2014-10-01,2014-09-01,NaN,NaN
4,2017-06-01,2016-06-01,2016-04-01,2016-04-01,2016-03-01,2015-12-01,2016-01-01,2015-11-01,2015-10-01,2015-09-01,...,NaN,2015-03-01,2015-02-01,2014-12-01,2014-11-01,2014-11-01,2014-10-01,2015-06-01,2014-07-01,2014-06-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,2017-06-01,2016-06-01,2016-04-01,NaN,2016-03-01,2016-01-01,2015-12-01,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95408,2017-06-01,NaN,NaN,NaN,NaN,2016-01-01,2016-01-01,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95409,2017-06-01,2016-06-01,2016-04-01,2016-04-01,2016-03-01,NaN,2016-01-01,2015-11-01,2015-10-01,2015-10-01,...,2015-04-01,2015-03-01,NaN,2015-01-01,NaN,NaN,2014-09-01,2014-08-01,NaN,NaN
95410,2017-06-01,2016-06-01,2016-09-01,2016-04-01,2016-03-01,2016-02-01,2016-01-01,2015-11-01,2015-10-01,2015-10-01,...,2015-04-01,2015-03-01,2015-02-01,2015-01-01,2014-11-01,2014-11-01,2014-10-01,2014-09-01,2014-07-01,2014-06-01
95411,2017-06-01,2016-06-01,2016-04-01,2016-04-01,2016-03-01,2016-02-01,2016-01-01,2015-11-01,2015-11-01,2015-11-01,...,2015-04-01,2015-03-01,2015-02-01,2015-01-01,2014-11-01,2014-11-01,2014-10-01,2014-09-01,2014-07-01,2014-06-01

## RDATE SELECTION (DATE GIFT DELIVERY)

In [12]:
rdate_re = re.compile(pattern='^RDATE_\d{1,2}')

In [14]:
RDATE_COLS = list(filter(rdate_re.match, df.columns))
df[RDATE_COLS]

,RDATE_3,RDATE_4,RDATE_5,RDATE_6,RDATE_7,RDATE_8,RDATE_9,RDATE_10,RDATE_11,RDATE_12,...,RDATE_15,RDATE_16,RDATE_17,RDATE_18,RDATE_19,RDATE_20,RDATE_21,RDATE_22,RDATE_23,RDATE_24
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-01,NaN,NaN,...,2015-05-01,2015-05-01,2015-03-01,NaN,NaN,NaN,NaN,NaN,2014-08-01,2014-06-01
1,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-01,NaN,NaN,NaN,...,NaN,2015-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-01,...,NaN,2015-04-01,NaN,2015-01-01,NaN,NaN,NaN,2014-09-01,2014-07-01,2014-06-01
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-01,2015-09-01,...,NaN,2015-05-01,2015-03-01,NaN,NaN,2014-11-01,2014-11-01,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,2016-01-01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,NaN,NaN,NaN,NaN,2016-02-01,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95408,NaN,NaN,NaN,NaN,2016-03-01,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95409,NaN,NaN,NaN,NaN,NaN,2016-01-01,NaN,NaN,NaN,2015-10-01,...,NaN,NaN,NaN,2015-01-01,NaN,NaN,NaN,2014-10-01,NaN,NaN
95410,NaN,2016-08-01,NaN,NaN,NaN,NaN,NaN,2015-12-01,2015-11-01,NaN,...,2015-07-01,2015-06-01,NaN,2015-02-01,NaN,NaN,2015-01-01,2014-10-01,NaN,NaN
95411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-11-01,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-01,NaN

## RFA COLS (PVA ANALYSIS)

In [16]:
rfa_re = re.compile(pattern='^RFA_\d{1,2}')

In [17]:
RFA_COLS = list(filter(rfa_re.match, df.columns))
df[RFA_COLS]

,RFA_2,RFA_3,RFA_4,RFA_5,RFA_6,RFA_7,RFA_8,RFA_9,RFA_10,RFA_11,...,RFA_18,RFA_19,RFA_20,RFA_21,RFA_22,RFA_23,RFA_24,RFA_2R,RFA_2F,RFA_2A
0,L4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,...,S4E,S4E,S4E,S4E,S4E,S4E,S4E,L,4,E
1,L2G,A2G,A2G,A2G,A2G,A1E,A1E,A1E,A1E,A1E,...,,N1E,N1E,N1E,N1E,,F1E,L,2,G
2,L4E,S4E,S4E,S4E,S4E,S4F,S4F,S4F,,S4F,...,S4D,S4D,,,S4D,S4D,S3D,L,4,E
3,L4E,S4E,S4E,S4E,S4E,S4E,S4E,S4E,,S4E,...,S2D,A1D,A1D,A1D,A1D,,,L,4,E
4,L2F,A2F,A2F,A2F,A1D,I2D,A1E,A1E,L1D,A1E,...,A2D,A3D,A3D,A3D,I4E,A3D,A3D,L,2,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,L1G,F1G,F1G,,F1G,P1G,P1G,,,,...,,,,,,,,L,1,G
95408,L1F,,,,,P1F,P1F,,,,...,,,,,,,,L,1,F
95409,L3E,S4E,S4E,S3E,S3E,,A2E,N3E,N3E,N3E,...,F1D,,,P1D,P1D,,,L,3,E
95410,L4F,S4F,A3F,S4F,S4F,S4F,S4F,S4F,S4F,S4F,...,S2F,A1F,A1F,A1F,A1F,S2F,S3F,L,4,F
95411,L1G,A1G,A1G,A1G,A1G,L3G,L3G,L4G,A1G,A1G,...,S3G,S4G,S3G,S3G,S3G,S3G,S3G,L,1,G

## RAMNT SELECTION (AMOUNT DONATED)

In [18]:
ramnt_re = re.compile(pattern='^RAMNT_\d{1,2}')

In [19]:
RAMNT_COLS = list(filter(ramnt_re.match, df.columns))
df[RAMNT_COLS]

,RAMNT_3,RAMNT_4,RAMNT_5,RAMNT_6,RAMNT_7,RAMNT_8,RAMNT_9,RAMNT_10,RAMNT_11,RAMNT_12,...,RAMNT_15,RAMNT_16,RAMNT_17,RAMNT_18,RAMNT_19,RAMNT_20,RAMNT_21,RAMNT_22,RAMNT_23,RAMNT_24
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,...,11.0,11.0,11.0,NaN,NaN,NaN,NaN,NaN,11.0,9.0
1,NaN,NaN,NaN,NaN,NaN,NaN,25.0,NaN,NaN,NaN,...,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,...,NaN,9.0,NaN,8.0,NaN,NaN,NaN,8.0,7.0,6.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,10.0,...,NaN,7.0,11.0,NaN,NaN,6.0,11.0,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,NaN,NaN,NaN,NaN,25.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95408,NaN,NaN,NaN,NaN,20.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95409,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,10.0,...,NaN,NaN,NaN,10.0,NaN,NaN,NaN,5.0,NaN,NaN
95410,NaN,15.0,NaN,NaN,NaN,NaN,NaN,18.0,18.0,NaN,...,18.0,18.0,NaN,15.0,NaN,NaN,15.0,20.0,NaN,NaN
95411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,200.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,125.0,NaN